/*------------- font style--------- */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Poppins:wght@400;500;700&family=Roboto&display=swap');

/* * {
    margin: 0;
    padding: 0;
} */

/*-----------------Top Banner style---------------------- */

.top-banner {
    background-color: black;
    display: flex;
    width: 1050px;
    height: 580px;
    margin-top:50px;
    margin-left: 162px;
    border-radius: 30px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.half-width {
    width: 50%;
    color: white;
}



.half-width img {
    width: 100%;
    margin-top: 33px;
    margin-right: 50px;
    
    
}



.half-width h1 {
    font-size: 60px;
}



.description {
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 20px;
    
}



.description p {
    margin-top: 20px;
}



.watch-more-link {
    background-color: red;
    color: white;
    padding: 10px;
    padding-right: 15px;
    text-decoration: none;
    border-radius: 4px;
}



.fa-angle-right {
    margin-left: 15px;
}

/* ----------------------Top banner style finshed------------------------- */

/* <!------------ side-bar and main box style-----------> */
.container {
    margin-top:50px;
    margin-left: 165px;
    margin-bottom: 80px;
    display: flex;
    width: 1050px;
    /* align-items: flex-start; */
    padding-top: 80px;

} 



.side-bar {
    display: flex;
    flex-direction: column;
    width: 252px;
    height: 252px;
    background-color: black;
    border-radius: 14px;
}



.upcoming-match {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    background-color: red;
    color: black;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}



.all-group {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}



.side-blog {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    font-weight: 700;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}


.blog .thumbnail img {
    width: 80px;
    height: 60px;
    margin: 10px;
}

.thumbnail {
    display: flex;
}



.blogs {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px;
    margin-left: 20px;
}



.blog-detail {
    margin-left: 25px;
    font-weight: 700;


}
.blog-detail p {
    color: red;
}



/* <!------------ side-bar and main box style end-----------> */


/* ----------------------footer style start --------------------------------- */

footer {
    margin-top: 100px;
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 30px;
}


footer h2 {
    color: white;
}

hr {
    width: 80%;
    margin-top: 40px;
    opacity: 0.2;
}

.contact-us {
    margin-top: 40px;
    
}

.fa-facebook {
    margin-right: 20px;
   font-size: 30px;
   color: steelblue;
}
.fa-instagram-square {
    margin-right: 20px;
    font-size: 30px;
    color: lightcoral;
}

.fa-twitter {
    margin-right: 20px;
    font-size: 30px;
    color: aquamarine;
}

/* contact-section {
    margin-bottom: 40px;
} */

.footer-info {
    margin-top: 40px;
    margin-bottom: 80px;
}

.footer-info a {
    text-decoration: none;
    color: white;
    padding: 20px;
}


